<div class = "center jumbotron" >
<br>
<h1><strong>This is about page</strong></h1>
<h4>
  We’re a community building the ultimate database of music producers and the gear they use. Whether in their studio or as part of their live setup, our goal is to catalog all the VST plugins they use, their DAW, every synthesizer and drum machine, and the rest of their equipment. 
</h4>
<h4>Everything you see on the site has been added by a member of the DJDB community. Pro and artist pages get better and better as people just like you from around the world add gear and products to them.</p>
</h4>