<h1>Welcome to DJDB</h1>
<p>DJDB breaks down the gear, tools, and products used by artists, pros, and influencers in their craft.</p>


<button type="button" class="btn btn-default btn-lg">
  <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
  <%= link_to 'Dj List', djs_path %>
</button>

