
<div class="row" style="margin-top:100px">
<div class="col-md-2"></div>
<div class="col-md-8">
<div class="">

<h1>New Djsgear</h1>

<%= render 'form' %>


</div>
<div class="col-md-2"></div>

</div>