
<div class="row jumbotron" style="margin-top:100px">
<div class="col-md-2"></div>
<div class="col-md-8">
<div class="">

<h1>Add gear to dj</h1>

<%= render 'form' %>


</div>
<div class="col-md-2"></div>

</div>