<div class="row"style="margin-top:50px">
<div class="col-md-4"></div>
  <div class="col-md-6 jumbotron">

<p id="notice"><%= notice %></p>


<div>
<%= image_tag @user.avatar.url(:medium), class: "img-thumbnail" %>
</div>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>


<% if current_user.id == @user.id %>
<%= link_to 'Edit', edit_user_path(@user) %> 
<% else %>

<% end %>
</div>
</div>