<div class="row">
<div class="col-md-2"></div>
  <div class="col-md-8">
  	<h1>Editing Dj</h1>

<%= render 'form' %>

<%= link_to 'Show', @dj %> |
<%= link_to 'Back', djs_path %>
<div class="col-md-2"></div>

</div>