
<h1>Top Artist</h1> 
<button class = "btn btn-success btn-lg">Add an Artist</button>
<br>
<br>



<div class = "container-fluid">
  <div class = "row-fluid" style=" height:auto max-width:33% ">
  <% @djs.each do |dj| %>
    <div class= "span2" >
    <a href = <%=dj_path(dj)%>>
    <%= image_tag( dj.name+".jpg", :alt => "djs-images", class:"img-responsive", style: "width: 100%")%>
    </a>
    <%= link_to dj.name, dj_path(dj) %>
    </div>
  <% end %>
  </div>
</div>

<br>

<%= link_to 'Add New Dj', new_dj_path %>
