<div class="center jumbotron">
    <h1>Search Result</h1> 

    <!-- row -->
    <div class = "row">
        <div class="clearfix visible-xs-block"></div>
        <%  @djs.each do |dj| %>
        <!-- column -->        
        <div class= "col-xs-6 col-sm-4">
            <a href = <%=dj_path(dj)%>>
            <%= image_tag( dj.name+".jpg", :alt => "djs-images", class:"img-responsive", style: "min-height: 175px")%>
            <%= link_to dj.name, dj_path(dj) %>
            </a>
          </div>
        <% end %>
    </div>
