<div class="row" style="margin-top:50px">
<div class="col-md-2"></div>
  <div class="col-md-8">
  	<div class="">

<h1>New Djsgear</h1>

<%= render 'form' %>

<!--<%= link_to 'Back', djs_path %>-->
</div>
<div class="col-md-2"></div>

</div>