<body>
	
      <%= render 'layouts/header' %>

      <div style="margin-top: 100px">
      	<%= yield %>
  	  </div>
      

     <!-- /container -->
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <!--<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>-->


    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script> 
    

  </body>