<body>
	
    <div class="container">
      <%= render 'layouts/header' %>

      <div style="margin-top: 50px">
      	<%= yield %>
  	  </div>
      

    </div>
     <!-- /container -->
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
    
  </body>